table{
    vertical-align: center;
}
td{
    width: 300px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255)
}
.text_table{
    height: 300px;
    font-size: 25px;
}
button{
    width:200px;
    height: 100px;
    background-color: hotpink;
    color:azure;
    font-size: 20px;
}
.e-3{
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 300ms ease;
}
button:hover{
    transform: scale(1.1);
}